@charset "utf-8";

.aut{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:35px;
    color: rgb(122, 0, 0);
}

name,email,telephon,spec_curs_grupp{
    display: block;
    text-align: center;
}
